<section class="hero">
  <div class="profile-card">
    <h1>Contact Me</h1>
    <div class="divider"></div>

    <p class="intro-text">
      I’d love to connect with you! Whether you’d like to collaborate, share ideas,
      or just say hello, please feel free to reach out through any of the channels below.
    </p>

    <p class="contact-info">📱 Phone: +60 16-6102445</p>
    <p class="email">Email: aininazli2410@gmail.com</p>

    <div class="social-links">
      <a href="https://www.instagram.com/aiini._/">
        <img src="/assets/iglogo.jpg" alt="Instagram">
      </a>

      <a href="https://github.com/nurulaiini">
        <img src="/assets/github.png" alt="GitHub">
      </a>
    </div>
  </div>
</section>

<footer>
  <p>© 2025 aiini</p>
</footer>


