<section class="hero">
  <div class="profile-card">

    <img src="/assets/myphoto.jpg" alt="Nurul Aini" class="profile-img">

    <h1>Nurul Aini Binti Ahmad Nazli</h1>
    <div class="divider"></div>

    <h3>Software Engineering Student</h3>

    <div class="info">
      <p><strong>Age:</strong> 21</p>
      <p><strong>Origin:</strong> Penang, Malaysia</p>
      <p><strong>Course:</strong> Bachelor of Information Technology (Hons.) Software Engineering</p>
      <p><strong>Year of Study:</strong> Year 3</p>
      <p><strong>University:</strong> Universiti Utara Malaysia (UUM)</p>
    </div>

  </div>
</section>

<footer>
  <p>© 2025 aiini</p>
</footer>
